/* ===== CAROUSEL STYLES =====*/
/* ===== CAROUSEL STYLES =====*/
#carouselExample .carousel-item {
	justify-content: center;
	align-items: center;
}
#carouselExample .carousel-item img {
	max-height: 600px;
	width: auto;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: 70px;
}
#carouselExample .carousel-item h5 {
	color: rgb(6, 6, 6);
}
.fa-arrow-right {
	font-size: 2.5rem;
	color: #efc8d4;
}
.fa-arrow-left {
	font-size: 2.5rem;
	color: #efc8d4;
}

@media screen and (max-width: 678px) {
	#carouselExample .carousel-item img {
		max-height: 600px;
		width: auto;
		object-fit: contain;
		display: block;
		margin-left: auto;
		margin-right: 120px;
	}
}

/* ===== ./ CAROUSEL STYLES =====*/
/* ===== ./ CAROUSEL STYLES =====*/

/* ===== CAROUSEL CARD STYLES =====*/
/* ===== CAROUSEL CARD STYLES =====*/
p {
	color: #4f6f52;
}
.custom-book-card {
	width: 50%;
	height: 70%;
	margin: 20px auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
@media screen and (max-width: 678px) {
	.custom-book-card {
		width: 70%;
		height: 60%;
		margin: 20px auto;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
}
@media screen and (max-width: 768px) {
	.custom-book-card {
		width: 90%;
		height: 80%;
		margin: 20px auto;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
}
.custom-book-card .card-body {
	padding: 20px;
	padding: 5rem;
}

.custom-book-card .card-title {
	font-size: 1.5rem;
	color: #333;
}
.custom-book-card .card-text {
	font-size: 1rem;
	color: #666;
	line-height: 1.6;
}
/* ===== ./ CAROUSEL CARD STYLES =====*/
/* ===== ./ CAROUSEL CARD STYLES =====*/

/* =====  MAIN APP STYLES =====*/
/* =====  MAIN APP STYLES =====*/
.colour-span {
	color: #4f6f52;
}
.navbar .navbar-nav .nav-link {
	color: #fff;
	font-size: 1.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.navbar .navbar-nav .nav-link:hover {
	color: #4f6f52;
	opacity: 0.8;
}

@media screen and (min-width: 992px) {
	.navbar .navbar-nav .nav-link {
		padding-left: 1.5em;
		padding-right: 2.5em;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
		border-right: 3px solid #fff;
	}
}

footer .btn {
	border: 1px solid #4f6f52;
	color: #4f6f52;
	background-color: #eee7da;
}
footer .btn:hover,
footer .nav-link:hover {
	color: black;
}

footer .btn:hover {
	background-color: #739072;
}

.custom-btn {
	border: 1px solid #4f6f52;
	color: #f8f9f8;
	background-color: #afc8ad;
}
.custom-btn-form {
	border: none;
	color: #4f6f52;
	background-color: #eee7da;
}
.custom-btn:hover,
.custom-btn-form:hover {
	background-color: #739072;
}

.custom-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 200px;
}
#book-search-form {
	padding: 100px;
	margin-bottom: 50px;
	margin-top: 200px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	font-family: "Arial", sans-serif;
}

.input-group-text {
	background-color: #afc8ad;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 5px 0 0 5px;
}

.form-control {
	border: 2px solid #efc8d4;
	border-left: none;
}
.form-control:focus {
	box-shadow: 0 0 5px #efc8d4;
}

.form-select {
	border: 2px solid #efc8d4;
}
.form-control:focus,
.form-select-lg:focus {
	box-shadow: 0 0 5px #efc8d4;
}

/* ===== ./ MAIN APP STYLES =====*/
/* ===== ./ MAIN APP STYLES =====*/

/* =====  RECOMMENDATION  STYLES =====*/
/* =====  RECOMMENDATION  STYLES =====*/
.modal-alert-text {
	color: rgb(234, 32, 32);
	margin-top: 10px;
}

.main-content {
	min-height: calc(100vh - 250px);
}
/* =====  ./ RECOMMENDATION  STYLES =====*/
/* ===== ./  RECOMMENDATION  STYLES =====*/

/* =====   MAP STYLES =====*/
/* =====   MAP STYLES =====*/
.icon-container {
	text-align: center;
	margin-top: 20px;
}

.icon-item {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.icon-item h1 {
	margin: 0;
}
/* =====  ./ MAP STYLES =====*/
/* =====  ./ MAP STYLES =====*/
